<div class="flex justify-center">
  <div class="block rounded-lg shadow-lg bg-white dark:bg-gray-700 text-center">
    <div class="py-3 px-6 border-b border-gray-500">
      <h3><%= quarter.name %></h3>
    </div>
    <div class="p-6">
      <h5 class="text-xl font-medium mb-0"><%= human_price quarter.total_money %></h5>
    </div>
    <div class="py-3 px-6 border-t border-gray-500">
      <%= quarter.percentage_to_previous_quarter %> %
    </div>
  </div>
</div>
